In [1]:
!pip install wandb --quiet
!pip install pandas --quiet
!pip install pyarrow --quiet

WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the 'c:\users\yentl creyf\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the 'c:\users\yentl creyf\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the 'c:\users\yentl creyf\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import wandb
wandb.login()

Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
wandb: Currently logged in as: extreme4all (bot-detector). Use `wandb login --relogin` to force relogin

True

In [17]:
import pandas as pd

df = pd.read_parquet('data/2022-10-24_highscore_data.parquet.gzip')
df.head()

,name,created_at,updated_at,possible_ban,confirmed_ban,label_id,label,account_status,id,timestamp,...,tombs_of_amascut,tombs_of_amascut_expert,tzkal_zuk,tztok_jad,venenatis,vetion,vorkath,wintertodt,zalcano,zulrah
0,3BA604236FB0319D5937E31388B0C64C,2021-03-14 20:22:45,2022-10-24 17:12:57,0,0,1,Real_Player,None,59568395,2022-10-24 17:16:01,...,-1.0,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
1,5A02B5A7F38AD2623A9C5E68DF01EC2F,2021-03-14 20:42:37,2022-10-24 13:39:03,0,0,1,Real_Player,None,59622273,2022-10-24 13:39:10,...,-1.0,-1.0,-1,10,-1,-1,114,73,-1,1256
2,E666957B20A95519E6306D75FEC4DE19,2021-03-14 22:17:40,2022-10-24 07:25:53,1,0,1,Real_Player,None,59615490,2022-07-27 06:41:21,...,0.0,0.0,-1,20,-1,-1,1000,500,-1,400
3,02726CE8822537806154B747927223D0,2021-03-14 22:18:40,2022-10-24 04:47:06,0,0,1,Real_Player,None,58905027,2022-10-24 04:47:11,...,-1.0,-1.0,-1,-1,-1,-1,3956,204,1068,-1
4,A5ECC15B4DFBFCAEF1522D4D78150146,2021-03-14 22:19:32,2022-10-24 07:59:43,0,0,1,Real_Player,None,59215937,2022-10-24 07:59:46,...,-1.0,-1.0,-1,-1,-1,-1,-1,115,-1,-1

In [18]:
SKILLS = [
    "attack",
    "defence",
    "strength",
    "hitpoints",
    "ranged",
    "prayer",
    "magic",
    "cooking",
    "woodcutting",
    "fletching",
    "fishing",
    "firemaking",
    "crafting",
    "smithing",
    "mining",
    "herblore",
    "agility",
    "thieving",
    "slayer",
    "farming",
    "runecraft",
    "hunter",
    "construction",
]
MINIGAMES = [
    "league",
    "bounty_hunter_hunter",
    "bounty_hunter_rogue",
    "cs_all",
    "cs_beginner",
    "cs_easy",
    "cs_medium",
    "cs_hard",
    "cs_elite",
    "cs_master",
    "lms_rank",
    "soul_wars_zeal",
]
BOSSES = [
    "abyssal_sire",
    "alchemical_hydra",
    "barrows_chests",
    "bryophyta",
    "callisto",
    "cerberus",
    "chambers_of_xeric",
    "chambers_of_xeric_challenge_mode",
    "chaos_elemental",
    "chaos_fanatic",
    "commander_zilyana",
    "corporeal_beast",
    "crazy_archaeologist",
    "dagannoth_prime",
    "dagannoth_rex",
    "dagannoth_supreme",
    "deranged_archaeologist",
    "general_graardor",
    "giant_mole",
    "grotesque_guardians",
    "hespori",
    "kalphite_queen",
    "king_black_dragon",
    "kraken",
    "kreearra",
    "kril_tsutsaroth",
    "mimic",
    "nex",
    "nightmare",
    "phosanis_nightmare",
    "obor",
    "sarachnis",
    "scorpia",
    "skotizo",
    "Tempoross",
    "the_gauntlet",
    "the_corrupted_gauntlet",
    "theatre_of_blood",
    "theatre_of_blood_hard",
    "thermonuclear_smoke_devil",
    "tombs_of_amascut",
    "tombs_of_amascut_expert",
    "tzkal_zuk",
    "tztok_jad",
    "venenatis",
    "vetion",
    "vorkath",
    "wintertodt",
    "zalcano",
    "zulrah",
]
HISCORE_COLUMNS = ["total"] + SKILLS + MINIGAMES + BOSSES

In [20]:
df[SKILLS].describe()

,attack,defence,strength,hitpoints,ranged,prayer,magic,cooking,woodcutting,fletching,...,smithing,mining,herblore,agility,thieving,slayer,farming,runecraft,hunter,construction
count,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,...,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05
mean,3.694650e+06,3.223397e+06,5.563027e+06,7.152666e+06,6.593132e+06,1.379353e+06,3.878973e+06,2.616380e+06,1.761006e+06,1.740537e+06,...,1.457717e+06,1.666953e+06,1.274633e+06,1.131255e+06,1.591909e+06,2.042684e+06,2.313285e+06,1.163239e+06,1.475363e+06,1.060418e+06
std,9.094518e+06,7.784329e+06,1.479878e+07,1.700804e+07,1.763954e+07,4.516332e+06,9.046030e+06,1.100595e+07,6.653515e+06,6.055796e+06,...,5.508571e+06,5.501419e+06,4.713022e+06,4.023569e+06,7.276069e+06,6.195460e+06,8.769195e+06,4.665851e+06,5.948984e+06,3.747501e+06
min,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,...,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,4.476000e+03,1.069500e+03,4.471000e+03,8.082000e+03,1.200000e+01,1.080000e+02,3.475000e+01,7.000000e+01,1.000000e+02,0.000000e+00,...,1.800000e+01,3.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.310540e+05,1.210115e+05,1.886240e+05,3.723785e+05,1.561050e+04,5.354200e+04,1.843330e+05,2.849750e+04,4.118500e+04,1.835000e+03,...,1.437950e+04,2.914450e+04,1.037000e+03,1.974150e+04,2.175000e+03,1.000000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.149621e+06,2.070412e+06,4.132904e+06,5.186545e+06,3.264294e+06,7.106020e+05,3.275196e+06,7.741478e+05,7.578935e+05,4.512202e+05,...,8.041605e+05,8.022935e+05,2.090402e+05,7.506192e+05,2.151888e+05,4.471448e+05,2.282808e+05,1.016492e+05,5.013602e+05,1.152968e+05
max,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,...,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08

In [21]:
df[MINIGAMES].describe()

,league,bounty_hunter_hunter,bounty_hunter_rogue,cs_all,cs_beginner,cs_easy,cs_medium,cs_hard,cs_elite,cs_master,lms_rank,soul_wars_zeal
count,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000
mean,-0.788743,2.065521,0.225400,76.367911,5.815257,11.308369,24.320325,21.546785,5.391558,5.054782,98.321645,216.879772
std,0.408201,61.507497,22.400235,428.534227,49.096956,120.494048,224.185528,117.083179,29.401658,37.782977,611.591197,2480.445360
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,-1.000000,-1.000000,-1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.000000,10683.000000,5405.000000,61781.000000,3947.000000,15559.000000,40971.000000,30300.000000,1500.000000,4068.000000,42171.000000,277731.000000

In [22]:
df[BOSSES].describe()

,abyssal_sire,alchemical_hydra,barrows_chests,bryophyta,callisto,cerberus,chambers_of_xeric,chambers_of_xeric_challenge_mode,chaos_elemental,chaos_fanatic,...,tombs_of_amascut,tombs_of_amascut_expert,tzkal_zuk,tztok_jad,venenatis,vetion,vorkath,wintertodt,zalcano,zulrah
count,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,...,223534.000000,223534.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000
mean,42.929067,102.960998,52.646438,1.214111,14.051759,96.641223,46.455187,6.443567,7.875774,6.942574,...,3.049970,1.286252,-0.559514,0.825938,20.494212,7.399309,163.830129,63.537813,50.379106,252.346902
std,258.239710,565.605979,279.557044,19.566135,154.001357,541.645175,240.904136,63.059556,59.457354,63.224691,...,21.340336,17.381176,3.034602,8.728845,270.509707,112.837261,1051.387936,249.075636,466.047399,1375.272287
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000
max,16675.000000,40203.000000,18171.000000,5919.000000,18229.000000,50939.000000,14283.000000,3675.000000,5470.000000,5555.000000,...,1048.000000,1119.000000,351.000000,724.000000,82316.000000,10577.000000,53810.000000,15503.000000,31062.000000,164088.000000

In [24]:
df[HISCORE_COLUMNS] = df[HISCORE_COLUMNS].replace(-1, 0)
df["total"] = df[SKILLS].sum(axis=1)
df.head()

,name,created_at,updated_at,possible_ban,confirmed_ban,label_id,label,account_status,id,timestamp,...,tombs_of_amascut,tombs_of_amascut_expert,tzkal_zuk,tztok_jad,venenatis,vetion,vorkath,wintertodt,zalcano,zulrah
0,3BA604236FB0319D5937E31388B0C64C,2021-03-14 20:22:45,2022-10-24 17:12:57,0,0,1,Real_Player,None,59568395,2022-10-24 17:16:01,...,0.0,0.0,0,0,0,0,0,0,0,0
1,5A02B5A7F38AD2623A9C5E68DF01EC2F,2021-03-14 20:42:37,2022-10-24 13:39:03,0,0,1,Real_Player,None,59622273,2022-10-24 13:39:10,...,0.0,0.0,0,10,0,0,114,73,0,1256
2,E666957B20A95519E6306D75FEC4DE19,2021-03-14 22:17:40,2022-10-24 07:25:53,1,0,1,Real_Player,None,59615490,2022-07-27 06:41:21,...,0.0,0.0,0,20,0,0,1000,500,0,400
3,02726CE8822537806154B747927223D0,2021-03-14 22:18:40,2022-10-24 04:47:06,0,0,1,Real_Player,None,58905027,2022-10-24 04:47:11,...,0.0,0.0,0,0,0,0,3956,204,1068,0
4,A5ECC15B4DFBFCAEF1522D4D78150146,2021-03-14 22:19:32,2022-10-24 07:59:43,0,0,1,Real_Player,None,59215937,2022-10-24 07:59:46,...,0.0,0.0,0,0,0,0,0,115,0,0

In [26]:
df[SKILLS].describe()

,attack,defence,strength,hitpoints,ranged,prayer,magic,cooking,woodcutting,fletching,...,smithing,mining,herblore,agility,thieving,slayer,farming,runecraft,hunter,construction
count,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,...,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05,2.235760e+05
mean,3.694650e+06,3.223397e+06,5.563027e+06,7.152666e+06,6.593132e+06,1.379353e+06,3.878973e+06,2.616380e+06,1.761006e+06,1.740537e+06,...,1.457717e+06,1.666953e+06,1.274633e+06,1.131255e+06,1.591909e+06,2.042684e+06,2.313285e+06,1.163239e+06,1.475364e+06,1.060418e+06
std,9.094518e+06,7.784329e+06,1.479878e+07,1.700804e+07,1.763954e+07,4.516332e+06,9.046030e+06,1.100595e+07,6.653515e+06,6.055796e+06,...,5.508571e+06,5.501419e+06,4.713022e+06,4.023569e+06,7.276069e+06,6.195460e+06,8.769195e+06,4.665851e+06,5.948984e+06,3.747501e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.476000e+03,1.069500e+03,4.471000e+03,8.082000e+03,1.200000e+01,1.080000e+02,3.475000e+01,7.000000e+01,1.000000e+02,0.000000e+00,...,1.800000e+01,3.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.310540e+05,1.210115e+05,1.886240e+05,3.723785e+05,1.561050e+04,5.354200e+04,1.843330e+05,2.849750e+04,4.118500e+04,1.835000e+03,...,1.437950e+04,2.914450e+04,1.037000e+03,1.974150e+04,2.175000e+03,1.000000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.149621e+06,2.070412e+06,4.132904e+06,5.186545e+06,3.264294e+06,7.106020e+05,3.275196e+06,7.741478e+05,7.578935e+05,4.512202e+05,...,8.041605e+05,8.022935e+05,2.090402e+05,7.506192e+05,2.151888e+05,4.471448e+05,2.282808e+05,1.016492e+05,5.013602e+05,1.152968e+05
max,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,...,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08

In [27]:
df[MINIGAMES].describe()

,league,bounty_hunter_hunter,bounty_hunter_rogue,cs_all,cs_beginner,cs_easy,cs_medium,cs_hard,cs_elite,cs_master,lms_rank,soul_wars_zeal
count,223576.0,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.00000,223576.000000,223576.000000,223576.000000
mean,0.0,2.822754,0.984739,76.887658,6.388579,11.866743,24.876820,22.131597,6.02490,5.724353,99.026295,217.612494
std,0.0,61.471241,22.362743,428.440672,49.019802,120.438021,224.123217,116.971545,29.26762,37.678460,611.476922,2480.381037
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,0.0,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,0.0,10683.000000,5405.000000,61781.000000,3947.000000,15559.000000,40971.000000,30300.000000,1500.00000,4068.000000,42171.000000,277731.000000

In [28]:
df[BOSSES].describe()

,abyssal_sire,alchemical_hydra,barrows_chests,bryophyta,callisto,cerberus,chambers_of_xeric,chambers_of_xeric_challenge_mode,chaos_elemental,chaos_fanatic,...,tombs_of_amascut,tombs_of_amascut_expert,tzkal_zuk,tztok_jad,venenatis,vetion,vorkath,wintertodt,zalcano,zulrah
count,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,...,223534.000000,223534.000000,223576.000000,223576.00000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000,223576.000000
mean,43.644134,103.674500,53.301513,1.927600,14.795823,97.341258,47.164029,7.192628,8.619798,7.686151,...,3.306781,1.561190,0.191174,1.53754,21.236318,8.159221,164.478338,64.151859,51.100749,253.022502
std,258.118436,565.474999,279.431712,19.490473,153.929235,541.519160,240.764890,62.972567,59.347787,63.132720,...,21.296024,17.350719,2.955441,8.59065,270.451088,112.781490,1051.286417,248.916956,465.968051,1375.147904
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,16675.000000,40203.000000,18171.000000,5919.000000,18229.000000,50939.000000,14283.000000,3675.000000,5470.000000,5555.000000,...,1048.000000,1119.000000,351.000000,724.00000,82316.000000,10577.000000,53810.000000,15503.000000,31062.000000,164088.000000